### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

# ========== 下面是新增的VS C++项目忽略规则 ==========
# VS 缓存文件夹
.vs/
*.ipch
*.suo
*.user
*.filters

# 编译输出目录
Debug/
Release/
x64/
x86/

# 编译中间文件
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate